services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app # Zamontuj kod źródłowy do kontenera
      - /app/node_modules # Docker używa bibliotek zainstalowanych wewnątrz obrazu, a nie próbuje ich brać z mojego komputera

  frontend:
    build:
      context: ./frontend/fixtIT-frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    restart: always
    ports: 
      - "5173:5173"
    volumes:
      - ./frontend/fixtIT-frontend:/app
      - /app/node_modules
    depends_on:
      - backend