services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app # Zamontuj kod źródłowy do kontenera
      - /app/node_modules # Zapobiegaj nadpisaniu node_modules z hosta